DISPATCH_PORT=8080
DRIVER_DB_HOST=localhost
DRIVER_DB_PORT=3306
DRIVER_DB_NAME=atlas_driver
DRIVER_DB_USER=root
DRIVER_DB_PASSWORD=
PRICING_SERVICE_HOST=localhost
PRICING_SERVICE_PORT=9090
TRIP_SERVICE_HOST=localhost
TRIP_SERVICE_PORT=9091
OSRM_BASE_URL=https://router.project-osrm.org
OSRM_TIMEOUT_MS=500